<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.min.css">
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/mode/clike/clike.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/theme/dracula.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/anyword-hint.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/javascript-hint.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/show-hint.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/html-hint.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/sql-hint.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/xml-hint.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/css-hint.js"></script>
        <link rel= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/hint/show-hint.css">
        <style>
       /* .smalldesc {
        max-height: 52px;
        overflow: hidden;
        transition: all 1s ease;
        }

        .smalldesc.expand {
         max-height: var(--originalHeight);
        }*/
        </style>

          <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="p-3 mb-2 bg-secondary text-white">
        <div>
         <textarea type="text" id="problemcode" name="problemcode" style="margin-left: 41%;border-radius:20px;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2) ;text-align: center;text-align:auto;font-size:20px;" style="background: #000000;color:#ffffff;height:50px ;width:75px;margin-left:41%;"> <%= problemcode %> </textarea>   
          <hr/>  
            <div  id="problemstatement"  name="problemstatement" style="background: #000000;color:#ffffff;height:auto; 
            border-radius: 20px 20px 0px 0px;  ;width:100%;font-size: 12px;font-family: 'Times New Roman', Times, serif;"> <h4> <%= statement %> </h4> </div>
            <hr/>
            <label  class="label label-primary" for="lang">Choose a language:</label>
            <select class="btn btn-primary dropdown-toggle" id="lang" name="lang">
            <option value="cpp14">cpp14</option>
            <option value="c">c</option>
            <option value="cpp11">cpp11</option>
            <option value="cpp17">cpp17</option>
            <option value="java">java</option>
            <option value="python2">python2</option>
            <option value="python3">python3</option>
            </select>
             <br>
            <textarea type="text" id="codearea1"  name="code" style="background: #000000;color:#ffffff;height:500px ;width:500px;float:left;"><%= code %></textarea>
   
            <textarea type="text" height="100px" width="400px"  id="input" name="input" style="background: #000000;color:#ffffff;height:150px ;width:50%;"> <%= input %></textarea>
            <textarea type="text"  id="output" name="input" style="background: #000000;color:#ffffff;height:150px ;width:50%;float:left" > <%= output %> </textarea>
       
            <h3 style="background: #000000;color:#ffffff;height:50px ;width:auto;float:left" class="text-success">Result:</h3>  <h3 id="result" style="background: #000000;color:#ffffff;height:50px ;width:auto;float:left" class="text-success"> </h3>
            
          </div>

          <div>
              <input type="submit" name="submit" value="TestCode" id="submit" style="margin-left:13%;border-radius:20px;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2)" class="btn btn-secondary"/>
              <input type="submit" name="check" value="Evaluate" id="check" style="border-radius:20px;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2)" class="btn btn-success"/>
              <div id='loader' style='display: none;float:left'>
              <img src='https://static.dribbble.com/users/2346349/screenshots/9246147/media/06971345603f8422d664fa0ea362b3a5.gif' style = "margin-left:30%;"  width='100px' height='100px'>
              </div>
          </div>


          <div class="service-1 click1">
            <div class="row">
              <div class="medium-12 small-12 columns smalldesc">
          
                <p class="font16">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                  desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
              <a href="#">Read More</a>
            </div>
          </div>
          
      <script type="text/javascript" >
      var code;

      $(document).ready(function(){
        const smalldesc = document.querySelector('.smalldesc');
        smalldesc.style.setProperty('--originalHeight', `${smalldesc.scrollHeight}px`);
        document.querySelector('a').addEventListener('click', function() {
        smalldesc.classList.toggle('expand');
        });

      var codemirrorEditor = CodeMirror.fromTextArea( document.getElementById("codearea1"), {
      lineNumbers: true,
      mode: "clike",
      theme: "dracula"
    });
    
    function makePostRequest(path, queryObj) { 
    axios.post(path, queryObj).then( 
      (response) => { 
          var result = response.data; 
          console.log(result); 
          $("#submit").attr("disabled",false);
          $("#loader").hide();
          $("#output").html(result.output);
      }, 
      (error) => { 
          console.log(error); 
      } 
  ); 
}           
$("#submit").click(function(){
  $("#submit").attr("disabled",true);
  $("#loader").show();
               code=codemirrorEditor.getValue();
             var inp=$("#input").val();
               var lang=$("#lang").val();
              
            queryObj = { code:code,input:inp,lang:lang}; 
            console.log(queryObj);
            makePostRequest('/compile/codes', queryObj); 
             });


  function makePostRequest1(path, queryObj) { 
    axios.post(path, queryObj).then( 
      (response) => { 
          var result = response.data; 
          console.log(result); 
          $("#result").html(result.answer);
          $("#check").attr("disabled",false);
          $("#loader").hide();
      }, 
      (error) => { 
          console.log(error); 
      } 
  ); 
}         

  $("#check").click(function(){
    $("#check").attr("disabled",true);
    $("#loader").show();
    var codes=codemirrorEditor.getValue();
    var problemcode=$("#problemcode").val();
    var lang=$("#lang").val();
    queryObj={code:codes,lang:lang,problemcode:problemcode};
    console.log(queryObj);
    makePostRequest1('/practice/check', queryObj); 

  });
});
  </script>
    </body>
</html>